@charset "ISO-8859-1";
body {
    background-color: #000000; 
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: lightblue;
    text-align: center;
}

form {
    background-color: #2c3e50; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 400px; 
    margin: auto;
}

label {
    display: block;
    color: #ecf0f1;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #34495e;
    border-radius: 4px;
    background-color: #ecf0f1;
}

input[type="submit"] {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; 
    width: 100%; 
}

input[type="submit"]:hover {
    background-color: #1f77b4;
}

