@charset "ISO-8859-1";
body {
    background-color: #000000; 
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: red;
    font-size: 2em;
}

a {
    color: lightblue;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}
