<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="GallardoConfig">
    <Appenders>
        <Console name="CONSL" target="SYSTEM_OUT">     
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSL"/>
        </Root>
    </Loggers>
</Configuration>
