<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <import resource="jdbcContext.xml"/>
	<mvc:resources location="classpath:/css/" mapping="/css/**" />
	<mvc:resources location="classpath:/js/" mapping="/js/**" />
	<mvc:resources location="classpath:/image/" mapping="/image/**" />

    
  
	<!-- Inverse of Control -->
	<!-- Step 2: Idetify Stereotype Components -->
	<context:component-scan
		base-package="org.acumen.training.codes" />


	<!-- Step 3: Build the Mvc framework -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!-- View Resolver -->
	<bean id="viewResolver1"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
		<property name="order">
			<value>2</value>
		</property>
	</bean>

	<bean id="viewResolver2"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
		<property name="order">
			<value>1</value>
		</property>
	</bean>

	<!-- BeanNameViewResolver -->
	<bean id="viewResolver3"
		class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order">
			<value>0</value>
		</property>
	</bean>

	<bean id="loginForm"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/login/login_form.jsp</value>
		</property>
	</bean>
	<bean id="loginResult"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/login/login_result.jsp</value>
		</property>
	</bean>
	<bean id="profileForm"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/profile/profile_form.jsp</value>
		</property>
	</bean>
	<bean id="profileResult"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/profile/profile_result.jsp</value>
		</property>
	</bean>
	<bean id="calculatorForm"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/calculator/calculator_form.jsp</value>
		</property>
	</bean>
	<bean id="calculatorResult"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/calculator/calculator_result.jsp</value>
		</property>
	</bean>
	<bean id="spendingForm"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/spending/spending_form.jsp</value>
		</property>
	</bean>
	<bean id="spendingResult"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/spending/spending_result.jsp</value>
		</property>
	</bean>
	
	<bean id="projectForm"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/hrms/project_form.jsp</value>
		</property>
	</bean>
	<bean id="projectResult"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/jsp/hrms/project_result.jsp</value>
		</property>
	</bean>
	
	<!-- Error View -->
	<bean id="errorNullPointer"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/errors/errorNullPointer.jsp</value>
		</property>
	</bean>
	<bean id="errorIllegalArgument"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/errors/error_illegal_arg.jsp</value>
		</property>
	</bean>
	<bean id="errorInputMismatch"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/errors/error_input_mismatch.jsp</value>
		</property>
	</bean>
	<bean id="errorGlobalNullPointer"
		class="org.springframework.web.servlet.view.JstlView">
		<property name="url">
			<value>/WEB-INF/errors/errorNullPointer.jsp</value>
		</property>
	</bean>

	<!-- Error form Handling -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>config.errors</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- Session Scope objects -->
	<bean id="project1" class="org.acumen.training.codes.model.data.Project" scope="session" >
		<aop:scoped-proxy/>
	
	</bean>
	<!-- Request Scope objects -->
	<bean id="project2" class="org.acumen.training.codes.model.data.Project" scope="request" >
		<aop:scoped-proxy/>
	</bean>
	

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <!-- Exception to error views -->
    <property name="exceptionMappings">
        <props>
            <prop key="java.lang.ArithmeticException">errArithmetic</prop>
            <prop key="java.lang.ClassCastException">errClassCast</prop>
        </props>
    </property>

    <!-- HTTP Status code to error view -->
    <property name="statusCodes">
        <props>
            <prop key="err400">400</prop>
            <prop key="err500">500</prop>
            <prop key="err403">403</prop>
        </props>
    </property>

    <!-- Default error view -->
    <property name="defaultErrorView" value="errDefaultPage"/>
</bean>
	


</beans>